@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic);
@import url(http://postach.io/static/themes/_assets/css/typicons.css);
/*---------------------------------------------------
    LESS Elements 0.9.1
  ---------------------------------------------------
    A set of useful LESS mixins
    More info at: http://lesselements.com
    MODIFIED BY: Brandon Brown
  ---------------------------------------------------*/
* html .clearfix {
  zoom: 1;
}
/* IE6 */
*:first-child + html .clearfix {
  zoom: 1;
}
/* IE7 */
/* used for styling post content in themes */
body {
  margin: 0;
  padding: 0;
  font-family: 'Lato', helvetica, sans-serif;
  height: 100%;
  width: 100%;
  background-color: #e7e2d0;
  font-size: 100%;
  /* 16px */
  line-height: 1.5;
}
ul,
li,
img,
form,
table,
tr,
td,
ol,
p,
h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
  border: 0;
  position: relative;
  color: #000000;
  list-style-type: none;
}
h1,
h2 {
  font-size: 1rem;
  line-height: 1rem;
}
/*
h3 { font-size: 3rem; }
h4 { font-size: 2rem; }
h5 { font-size: 1rem; }
*/
p {
  padding: 0.5rem 0 0.5rem 0;
}
a,
button,
input[type="submit"],
input[type="button"] {
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-backface-visibility: hidden;
}
a {
  text-decoration: none;
  color: #44a084;
}
a:visited {
  color: #44a084;
}
a:hover {
  text-decoration: none;
  color: #ee770d;
}
/* make mixin for less verbose */
div.wrapper {
  display: block;
  margin: 0 auto;
  width: 100%;
}
span.typcn {
  position: relative;
  top: -2px;
}
div.header {
  position: fixed;
  top: 0;
  left: 0;
  height: 80px;
  overflow: hidden;
  width: 100%;
  display: block;
  background-color: #ffffff;
  color: #000000;
}
div.header h1.logo {
  float: left;
  font-size: 1rem;
  font-weight: 700;
  text-transform: uppercase;
  padding: 30px 0 0 35px;
  display: inline-block;
}
div.header h1.logo a {
  color: #464748;
}
div.header h1.logo a:hover {
  color: #44a084;
}
div.header ul.nav {
  float: left;
  padding: 28px 0 0 45px;
  display: inline-block;
}
div.header ul.nav li {
  display: inline-block;
  margin-right: 45px;
  font-size: 1rem;
}
div.header ul.nav li a {
  color: #464748;
  text-transform: uppercase;
}
div.header ul.nav li a:hover {
  color: #ee770d;
}
div.header ul.nav li a.active {
  font-weight: 700;
  color: #ee770d;
}
div.header ul.social {
  padding: 30px 35px 0 0;
  float: right;
  display: inline-block;
}
div.header ul.social li {
  padding: 0;
  margin: 0;
  display: inline-block;
  margin-left: 20px;
}
div.header ul.social li a {
  font-size: 1.5rem;
  color: #464748;
}
div.header ul.social li a:hover {
  color: #44a084;
}
div.header:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
div.mobile-nav {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
div.mobile-nav a.toggle {
  display: block;
  z-index: 10000;
  position: absolute;
  top: 30px;
  right: 30px;
  font-size: 1.5rem;
  color: #464748;
}
div.mobile-nav a.toggle:hover {
  color: #44a084;
}
div.mobile-nav ul {
  display: none;
  border-top: 1px solid #464748;
  position: absolute;
  top: 80px;
  right: 0;
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  background-color: #ffffff;
}
div.mobile-nav ul li {
  border-bottom: 1px solid #464748;
  display: block;
  text-align: left;
}
div.mobile-nav ul li a {
  display: block;
  padding: 15px;
  color: #464748;
}
div.mobile-nav ul li a:hover {
  background-color: #44a084;
  color: #ffffff;
}
div.mobile-nav ul li a.mobile-social-link {
  display: inline-block;
  padding: 15px 0 15px 15px;
  margin: 0;
  background-color: transparent;
  font-size: 1.25rem;
}
div.mobile-nav ul li a.mobile-social-link:hover {
  color: #44a084;
}
div.right {
  position: fixed;
  top: 0;
  right: 0;
  width: 20%;
  height: 100%;
  background-color: #f4f3e9;
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 125px 35px 35px 35px;
}
div.right h2 {
  border-bottom: 1px solid #464748;
  padding-bottom: 15px;
}
div.right h2 .typcn {
  font-size: 2.5rem;
  color: #e7e2d0;
}
div.right h3 {
  border-bottom: 1px solid #464748;
  font-weight: 700;
  padding: 10px 0 10px 0;
  font-size: 1rem;
  line-height: 1.5rem;
}
div.right p {
  color: #464748;
  font-size: 0.9rem;
  padding: 0;
  margin: 0;
}
div.right p.bio {
  padding-top: 15px;
}
div.right ul.right-links {
  padding-top: 15px;
  line-height: 1.5rem;
}
div.right ul.right-links li a {
  color: #464748;
}
div.right ul.right-links li a:hover {
  color: #44a084;
}
ul.tags {
  display: block;
  padding: 0;
}
ul.tags li {
  padding: 0 5px 0 0;
  margin: 0;
  display: inline-block;
}
ul.tags li a {
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
  font-size: 0.75rem;
  font-weight: 700;
  background-color: #b9b9b9;
  color: #ffffff;
  padding: 1px 7px 3px 7px;
}
ul.tags li a:hover {
  background-color: #44a084;
}
form {
  display: block;
  padding: 0 0 30px 0;
  margin: 0;
}
form input {
  width: 100%;
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: 0;
  background-color: #ffffff;
  padding: 10px;
  font-family: 'Lato', helvetica, arial;
  font-size: 0.75rem;
}
h4.tag-header {
  padding: 0 0 35px 0;
  margin: 0;
}
img.avatar {
  width: 55px;
  height: 55px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
div.post-wrapper {
  width: 80%;
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 115px 35px 35px 35px;
}
div.post-wrapper:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
div.post-wrapper h2 {
  padding-bottom: 17.5px;
}
div.post-wrapper div.post-fragment {
  position: relative;
  width: 30%;
  display: block;
  background-color: #ffffff;
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px;
  float: left;
  height: 280px;
  overflow: hidden;
  margin-right: 3%;
  margin-bottom: 3%;
}
div.post-wrapper div.post-fragment div.post-image {
  padding: 0;
  margin: 0 0 10px 0;
  overflow: hidden;
  height: 150px;
}
div.post-wrapper div.post-fragment div.post-image img {
  width: 100%;
}
div.post-wrapper div.post-fragment div.post-details {
  position: relative;
  padding: 0 10px 0 10px;
}
div.post-wrapper div.post-fragment div.post-details p {
  padding: 0;
  margin: 0;
}
div.post-wrapper div.post-fragment div.post-details h2 {
  font-size: 1.25rem;
  line-height: 1.75rem;
  padding: 0;
  margin: 0;
  font-weight: 700;
}
div.post-wrapper div.post-fragment div.post-details h2 a {
  color: #464748;
}
div.post-wrapper div.post-fragment div.post-details h2 a:hover {
  color: #44a084;
}
div.post-wrapper div.post-fragment ul.tags {
  position: absolute;
  bottom: 20px;
  left: 20px;
}
div.post-wrapper div.post-fragment ul.tags:first-of-type {
  margin-left: 0;
}
div.post-wrapper div.post-fragment div.post-body {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  border: 10px solid #ffffff;
  padding: 10px;
  width: 100%;
  height: 100%;
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #ffffff;
  -moz-opacity: 0.9;
  -khtml-opacity: 0.9;
  -webkit-opacity: 0.9;
  opacity: 0.9;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=90);
  filter: alpha(opacity=90);
}
div.post-wrapper div.post-fragment div.post-body p {
  font-size: 1rem;
  padding: 0;
  margin: 0;
}
div.post-wrapper div.post-fragment:hover div.post-body {
  display: block;
  cursor: pointer;
}
div.post {
  background-color: #ffffff;
  padding: 70px;
}
div.post h2 {
  font-size: 3rem;
  line-height: 4rem;
}
div.post h2 a {
  color: #464748;
}
div.post h2 a:hover {
  color: #464748;
}
div.post ul.tags {
  padding: 0.5rem 0 1.5rem 0;
}
div.post ul.tags:first-of-type {
  margin-left: 0;
}
div.post div.post-body p {
  color: #464748;
}
div.post div.post-body p img {
  width: 100%;
  padding: 0.5rem 0 0.5rem 0;
}
div.post div.post-body .post-content {
  display: block;
  /* found in elements.less assets */
}
div.post div.post-body .post-content ul,
div.post div.post-body .post-content ol,
div.post div.post-body .post-content li,
div.post div.post-body .post-content blockquote,
div.post div.post-body .post-content p,
div.post div.post-body .post-content div,
div.post div.post-body .post-content b,
div.post div.post-body .post-content i {
  text-align: left;
}
div.post div.post-body .post-content ul strong,
div.post div.post-body .post-content ol strong,
div.post div.post-body .post-content li strong,
div.post div.post-body .post-content blockquote strong,
div.post div.post-body .post-content p strong,
div.post div.post-body .post-content div strong,
div.post div.post-body .post-content b strong,
div.post div.post-body .post-content i strong {
  font-weight: bold;
}
div.post div.post-body .post-content b {
  font-weight: bold;
}
div.post div.post-body .post-content p,
div.post div.post-body .post-content div {
  padding: 7.5px 0;
  margin: 0;
}
div.post div.post-body .post-content p.gist,
div.post div.post-body .post-content div.gist {
  padding: 0;
  margin: 0;
}
div.post div.post-body .post-content p.gist .gist-file,
div.post div.post-body .post-content div.gist .gist-file,
div.post div.post-body .post-content p.gist .gist-data,
div.post div.post-body .post-content div.gist .gist-data,
div.post div.post-body .post-content p.gist .gist-syntax,
div.post div.post-body .post-content div.gist .gist-syntax,
div.post div.post-body .post-content p.gist .file-data,
div.post div.post-body .post-content div.gist .file-data,
div.post div.post-body .post-content p.gist .line,
div.post div.post-body .post-content div.gist .line {
  padding: 0;
  margin: 0;
}
div.post div.post-body .post-content table {
  margin: 0;
  padding: 0;
}
div.post div.post-body .post-content blockquote {
  padding: 7.5px 15px;
  margin: 7.5px 0;
  border-left: 5px solid #e5e5e5;
}
div.post div.post-body .post-content ul {
  padding: 7.5px 0 11.25px;
  margin-left: 50px;
}
div.post div.post-body .post-content ul li {
  padding: 0;
  margin: 0;
  list-style-type: square;
}
div.post div.post-body .post-content ol {
  padding: 7.5px 0 11.25px;
  margin-left: 30px;
}
div.post div.post-body .post-content ol li {
  padding: 0;
  margin: 0;
  list-style-type: decimal;
}
div.post div.post-body .post-content h1 {
  padding-bottom: 15px;
}
div.post div.post-body .post-content h2,
div.post div.post-body .post-content h3 {
  padding-top: 15px;
}
div.post div.post-body .post-content img {
  max-width: 100%;
  height: auto;
}
div.post div.post-body .post-content .mejs-container {
  margin-top: 7.5px;
}
div.post div.post-body .post-content .post-pdf {
  position: relative;
}
div.post div.post-body .post-content .post-pdf .pdf-fullscreen {
  position: absolute;
  bottom: 30px;
  left: 30px;
  color: #000;
  font-size: 12px;
  padding: 10px;
  background-color: #1abc9c;
  border-radius: 7px;
  -moz-opacity: 0.3;
  -khtml-opacity: 0.3;
  -webkit-opacity: 0.3;
  opacity: 0.3;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=30);
  filter: alpha(opacity=30);
  -webkit-transition: all 0.1s ease-in;
  -moz-transition: all 0.1s ease-in;
  -o-transition: all 0.1s ease-in;
  transition: all 0.1s ease-in;
  -webkit-appearance: none;
  cursor: pointer;
  border: 0;
}
div.post div.post-body .post-content .post-pdf .pdf-fullscreen:hover {
  color: #fff;
  -moz-opacity: 1;
  -khtml-opacity: 1;
  -webkit-opacity: 1;
  opacity: 1;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
  filter: alpha(opacity=100);
}
div.post div.post-body .post-content .post-pdf object {
  display: block;
  min-height: 400px;
}
div.post .socialbar-container {
  padding: 0;
  margin: 0;
}
div.post .post-info {
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  padding: 20px 0 0 0;
}
div.post .post-info p {
  padding: 0;
  margin: 0;
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 1rem;
}
div.post .post-info p.date,
div.post .post-info p.location {
  display: block;
  padding: 0;
}
div.post .post-info p.date span,
div.post .post-info p.location span {
  padding-right: 5px;
}
div.post .post-info p.read-more {
  color: #000000;
}
div.post .post-info .info-left {
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  width: 50%;
  text-align: left;
}
div.post .post-info .info-right {
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  float: right;
  width: 50%;
  text-align: right;
}
div.post .post-info:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
div.post-comments {
  padding: 35px 0 0 0;
}
div.pagination {
  width: 81%;
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  clear: both;
  background-color: #f4f3e9;
  padding: 30px 35px 30px 35px;
}
div.pagination a {
  color: #464748;
  font-size: 1rem;
}
div.pagination a.post-prev {
  float: left;
}
div.pagination a.post-next {
  float: right;
}
div.pagination a:hover {
  color: #44a084;
}
div.pagination:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
/* Large desktop */
/* Large desktop */
@media (max-width: 1229px) {
  div.post-wrapper div.post-fragment {
    height: 315px;
  }
}
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 1015px) {
  div.header ul.nav {
    padding-left: 35px;
  }
  div.header ul.nav li {
    margin-right: 35px;
  }
  div.post-wrapper div.post-fragment {
    float: left;
    width: 47%;
    height: 285px;
  }
}
@media (max-width: 931px) {
  div.header ul.social {
    display: none;
  }
  div.header ul.nav {
    padding-left: 35px;
  }
  div.header ul.nav li {
    margin-right: 35px;
  }
  div.right {
    display: none;
  }
  div.post-wrapper {
    width: 100%;
  }
  div.post-wrapper div.post-fragment {
    float: left;
    width: 30%;
    height: 315px;
  }
  div.pagination {
    width: 100%;
  }
}
@media (max-width: 825px) {
  ul.nav {
    display: none;
  }
}
@media (max-width: 725px) {
  div.post-wrapper {
    width: 100%;
  }
  div.post-wrapper div.post-fragment {
    float: left;
    width: 45%;
    height: 315px;
  }
  div.header ul.social {
    display: none;
  }
  div.header ul.nav {
    padding-left: 35px;
  }
  div.header ul.nav li {
    margin-right: 35px;
  }
}
/* Landscape phones and down */
@media (max-width: 560px) {
  div.header ul.nav {
    display: none;
  }
  div.mobile-nav {
    display: block;
  }
  div.post-wrapper {
    width: 100%;
  }
  div.post-wrapper div.post-fragment {
    clear: both;
    width: 100%;
    height: auto;
    margin-bottom: 35px;
  }
  div.post-wrapper div.post-fragment ul.tags {
    position: relative;
    top: 0;
    left: 0;
    margin-left: 0;
    padding: 10px 0 10px 10px;
  }
  div.post {
    padding: 35px;
  }
  div.post h2 {
    font-size: 1.75rem;
    line-height: 2.25rem;
  }
}
.post-pdf {
  position: relative;
}
.post-pdf .pdf-fullscreen {
  position: absolute;
  bottom: 30px;
  left: 30px;
  color: #000;
  font-size: 12px;
  background-color: #44a084;
  padding: 10px;
  border-radius: 7px;
  -moz-opacity: 0.3;
  -khtml-opacity: 0.3;
  -webkit-opacity: 0.3;
  opacity: 0.3;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=30);
  filter: alpha(opacity=30);
  -webkit-transition: all 0.1s ease-in;
  -moz-transition: all 0.1s ease-in;
  -o-transition: all 0.1s ease-in;
  transition: all 0.1s ease-in;
  -webkit-appearance: none;
  cursor: pointer;
  border: 0;
}
.post-pdf .pdf-fullscreen:hover {
  color: #fff;
  -moz-opacity: 1;
  -khtml-opacity: 1;
  -webkit-opacity: 1;
  opacity: 1;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
  filter: alpha(opacity=100);
}
.post-pdf object {
  display: block;
  min-height: 400px;
}
.login {
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  display: block;
  width: 100%;
  padding-top: 100px;
  background-color: transparent;
}
.login form {
  background-color: #fff;
  padding: 40px;
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  width: 380px;
  margin: 0 auto;
}
.login form div {
  padding-bottom: 7px;
}
.login input {
  display: block;
  width: 100%;
  height: auto;
  font-size: 12pt;
  line-height: 12pt;
  padding: 7px;
}
.login input.input-password {
  margin: 0;
}
.login input.input-submit {
  color: #fff;
  border: 0;
  background-color: #2eb18d;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.login label {
  font-weight: bold;
  font-size: 10pt;
  line-height: 10pt;
  padding-bottom: 7px;
}
.login p {
  padding-bottom: 20px;
  margin: 0;
}
.login p.login-copyright {
  padding-top: 20px;
  font-size: 9pt;
}
.login .login-error {
  display: block;
  background-color: #f76643;
  color: #fff;
  font-size: 10pt;
  line-height: 10pt;
  padding: 7px;
}
